*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}


body {
    position: relative;
    min-height: 100%;
}

html {
    height: 100%;

}

.hidden {
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

